:root {
    --modal-back-color: #0004;
}

* {
    color: white;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

input[type="button"] {
    background-color: black;
}

body {
    background-color: #000;
}

.modal-back:not(.open) {
    display: none;
}

.modal-back.open {
    display: block !important;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-back-color);
    z-index: var(--z-ind, 1);
}

.modal-back > .modal-front {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
}

#game-area {
    --max-width: 58vw;
    --max-height: 98vh;
    --sw: calc(var(--max-width) / var(--cw));
    --sh: calc(var(--max-height) / var(--ch));
    --s: min(var(--sw), var(--sh));
    position: absolute;
    left: 0px;
    top: 0px;
}
#game-board {
    position: absolute;
    left: 1vw;
    top: 1vh;
    width: calc(var(--s)*var(--cw));
    height: calc(var(--s)*var(--ch));
    border: solid 2px white;
    display: grid;
    grid-template-columns: repeat(var(--cw), var(--s));
    grid-template-rows: repeat(var(--ch), var(--s));
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

.board-space {
    width: var(--s);
    height: var(--s);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}
.board-space:hover {
    background-color: #fffa;
}

.board-space > .board-space-text {
    align-self: center;
    justify-self: center;
    color: var(--color);
}
.board-space > iframe {
    width: inherit;
    height: inherit;
    border: none;
    pointer-events: none;
}
.board-space > iframe.board-space-text svg > .svg-fill-color {
    fill: var(--color);
}
.board-space:hover > .board-space-text {
    color: white;
}